[Unit]
Description=Corr Service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/proj/dsa110-shell/dsa110-xengine/scripts
ExecStart=/home/ubuntu/anaconda3/envs/casa38/bin/python /home/ubuntu/proj/dsa110-shell/dsa110-xengine/scripts/corr.py -in pipeline -cn NUMBER
StandardOutput=syslog
StandardError=syslog
Restart=on-failure

[Install]
WantedBy=multi-user.target
