[Unit]
Description=Voltage Service

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/proj/dsa110-shell/dsa110-xengine/scripts
ExecStart=/home/ubuntu/anaconda3/envs/casa38/bin/python /home/ubuntu/proj/dsa110-shell/dsa110-xengine/scripts/look_after_dumps.py -cn NUMBER
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
